.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-table-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sort-button {
  width: 100px;
  padding: 10px, 20px;
  font-size: 18px;
  margin: 10px;
}
